/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*Slider background image*/
.slider{
    min-height: 500px;
    width:100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.slider-1{
    background: url(../img/slider/queue.jpg) fixed no-repeat;
    background-size: cover;
   
}
.slider-2{
    background: url(../img/slider/teh.jpg) fixed no-repeat;
    background-size: cover;
}
.slider-3{
    background: url(../img/slider/c.jpg) fixed no-repeat;
    background-size: cover;
}
.slider-contents{
    padding: 200px 0 130px;
    color: #fff;
}

.slider-contents h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 25px;  
}
  
.slider-contents p {
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
}
  
.slider-contents .btn {
    margin: 25px 25px 0px 0px;
    text-transform: uppercase;
}